backImg {
    width: 100vw;
    z-index: -1;
}
#wholePage{
    z-index: 3;
}
.quote-text{
    font-family: 'Permanent Marker', cursive;

}
.movie{
    
    background-image: url("https://i.ytimg.com/vi/EHwPNTuyAds/maxresdefault.jpg") !important;
}
body{
    /*background-color: black;*/
    color: White;
}
.quote-box{
  background-color:grey;
  overflow:hidden;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  border-radius:5px;
 padding-right: 20px;
 padding-left:20px;
 
   
}
#quoteSection{
    margin-bottom: 30px;
}
#insertImg{
    margin-top:20px;
    margin-bottom: 10px;
}
#buttonGroup{
    margin-bottom:20px;
}
.quote{
    font-size: 25px;
}
h1{
    font-weight: bold;
    font-size: 3em;
    font-family: 'Anton', sans-serif;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#postTwit{
    color: #00aced;
    
}
#postRed{
    color:#ff4500;
}